body {
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
  font-family: "Raleway" !important;
  font-style: normal;
  min-height: 300dvh !important;
  max-width: 100dvw !important;
}

#loadingBox {
  position: absolute;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: white;
}

.heroDiv {
  padding: .2rem;
  overflow: hidden;
}

.myImg {
  max-width: 4dvw;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}

.friendImg {
  max-width: 4dvw;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid white;
  margin-left: -.64rem;
  transition: all 0.4s;
  position: relative;
}

.friendImg:hover {
  margin-right: .5rem;
  transition: 0.6s;
  bottom: 4px;
}

.link {
  transition: all 1s;
  padding: 0.2rem 0.4rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.playlist {
  font-family: Helvetica;
  font-weight: light;
  background-image: url("../public/songs/gif/deargod.gif");
  background-size: cover;
  background-position: center;
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin: 8rem 0;
  box-shadow: inset 0 0 2rem 4px white; 
}

.songGlassBox {
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, .6);
  box-shadow: inset 0 0 16px 4px white; 
}

#duration {
  transform: scale(1.2);
}
#songProgress{
  -webkit-appearance: none;
  height: 1rem;
  background:white;
  border-radius: 1rem;
  cursor: pointer;
}
#songProgress::-webkit-slider-thumb{
  -webkit-appearance: none;
  background: #000;
  width: 1.6rem;
  height: 1.6rem;
  border: .25rem solid #fff;
  border-radius: 1rem;
}
.songBtn {
  min-height: fit-content !important;
  height: 3dvw;
  aspect-ratio: 1/1 !important;
  object-fit: contain;
  justify-self: center;
  padding: .6rem !important;
}

.songCover {
  box-shadow: inset 0 0 16px 4px white; 
  width: 20rem;
}

#bgbox3 {
  background-image: url("../public/bg1.png");
}

.link:hover {
  color: white !important;
  background-color: black;
  transition: all 1s;
  cursor: pointer;
}

@media (max-width:720px) {
  .heroDiv {
    width: fit-content !important;
    overflow: hidden;
  }

  .songBtn {
    padding: 1rem !important;
  }
}

.loader {
  width: 12dvw;
  aspect-ratio: 1;
  display: grid;
  mask: conic-gradient(from 15deg, #0000, #000);
  animation: l26 1s infinite steps(12);
}

.loader,
.loader:before,
.loader:after {
  background:
    radial-gradient(closest-side at 50% 12.5%,
      #000 96%, #0000) 50% 0/20% 80% repeat-y,
    radial-gradient(closest-side at 12.5% 50%,
      #000 96%, #0000) 0 50%/80% 20% repeat-x;
}

.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  transform: rotate(30deg);
}

.loader:after {
  transform: rotate(60deg);
}

@keyframes l26 {
  100% {
    transform: rotate(1turn)
  }
}